#clickContainer {
  background-color: #222222;
}

#instrumentContainer {
  overflow: hidden;
}

/* 
  ------ CSS For Instrument Tabs ------
*/

.instrument, .activeInstrument {
  color: white;
  float: left;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 12px;
  width: 20%;
}

.instrument, .activeInstrument:focus {
  outline: 0;
}

.activeInstrument {
  background-color: var(--my-background-color);
}

.instrument {
  background-color: #444444
}

.instrument:hover {
  background-color: #555555;
}

.instrumentContent {
  padding-left: 6px;
  display: block;
  background-color: var(--my-background-color);
  border: 1px solid var(--my-background-color);
  height: 93%;
  color: white;
}

/* Hide song and album tabs by default */
#vocalTab, #keyboardTab, #guitarTab, #drumTab {
  display: none;
}

/* Hide non-active tab content by default */
#vocal {
  display: none;
}


/* 
  ------ CSS For Laptop Tab ------
*/

#beatImgContainer {
  height: 70%;
  width: 80%;
  background-color: black;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid transparent;
}

#marker {
  position: relative;
  width: 4%;
  height: 7%;
  margin-top: 18%;
  left: 1%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid white;
}

#zones {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenZone {
  width: 10%;
  height: 5%;
  background-color: #00cc44;
  border: 1px solid #009933;
}

.yellowZone {
  width: 12%;
  height: 5%;
  background-color: #ffff33;
  border: 1px solid #cccc00;
}

.orangeZone {
  width: 15%;
  height: 5%;
  background-color: #ffad33;
  border: 1px solid #cc7a00;
}

.redZone {
  width: 15%;
  height: 5%;
  background-color: #ff5c33;
  border: 1px solid #cc2900;
}

#beatButtonContainer {
  height: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}

#beatButtonContainer > button {
  border-radius: 5%;
  border: none;
  background-color: #5555ff;
  width: 15%;
  height: 85%;
}

#beatButtonContainer > button:focus {
  outline: 0;
}

#beatButtonContainer > button:hover {
  cursor: pointer;
}

#progressContainer {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#progressContainer > progress[value] {
  width: 50%;
  height: 80%;
  -webkit-appearance: none;
  appearance: none;
}

#progressContainer > progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#progressContainer > progress[value]::-webkit-progress-value {
  background-color: #33cc33;
}