.skill {
  margin-top: 6px;
  margin-right: 15px;
  width: 100px;
  text-align: center;
  float: left;
}

.skill > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}

.skill > progress[value] {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
}

.skill > progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.skill > progress[value]::-webkit-progress-value {
  background-color: #33cc33;
}

/* Hide all skills be default except laptop skill */
#vocalSkill, #keyboardSkill, #guitarSkill, #drumSkill {
  display: none;
}
