/*
  ------ CSS For Tabs ------
*/

#characterTabContainer {
  width: 100%;
  overflow: hidden;
  background-color: #222222;
}

#characterTab, #optionTab, #achievementTab {
  color: white;
  float: left;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 12px;
  width: 33.3333333%;
}

.characterActive {
  background-color: var(--my-background-color);
}

.character {
  background-color: #444444
}

.character:hover {
  background-color: #555555;
}

/* Hide non-active tab content by default */
#optionContent, #achievementContent {
  display: none;
}

.characterContent {
  padding-left: 6px;
  display: block;
  height: calc(100% - 28px);
  overflow: scroll;
}

/*
  ------ CSS For Chararacter Page ------
*/

#characterStatus {
  border-bottom: 2px solid #222222;
  padding-bottom: 10px;
  width: 99%;
}

#stageNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#stageName, #skillsHeader {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}

#editStageName {
  background: transparent;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to be contained within the container */
  background-image: url("../resources/images/edit.png");
  width: 10px;
  height: 10px;
  border: none;
  margin-left: 6px;
  margin-top: 10px;
}

#editStageName:hover {
  cursor: pointer;
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.statusContainer > progress[value] {
  width: 60%;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  margin-left: 20px;
  text-align: center;
}

.statusContainer > progress[value]::-webkit-progress-bar {
  background-color: #222;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.statusContainer > progress::after {
  top: -13px;
}

#healthProgress[value]::-webkit-progress-value {
  background-color: #E74C3C;
}

#energyProgress[value]::-webkit-progress-value {
  background-color: #F7DC6F;
}

#energyAbilityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#energyAbility1 {
  margin-left: 12%;
}

.energyButton {
  display: none;
}

#characterSkills {
  width: 99%;
  display: inline-block;
  padding-bottom: 10px;
}

.skill {
  width: 49%;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  float: left;
}

.skillLabelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  float: left;
}

.skillLabelContainer > img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  display: inline;
  margin-right: 6px;
}

.skill > progress[value] {
  width: inherit;
  float: left;
  margin-top: 6px;
  -webkit-appearance: none;
  appearance: none;
}

.skill > p {
  width: 15px;
  float: left;
  margin-top: 6px;
  margin-left: 6px;
  text-align: right;
}

.skill > progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.skill > progress[value]::-webkit-progress-value {
  background-color: #33cc33;
}

.skill > progress::after {
  font-size: 8px;
  top: -10px;
}

/* Hide all skills be default except laptop skill */
#vocalSkill, #keyboardSkill, #guitarSkill, #drumSkill {
  display: none;
}

/*
  ------ CSS For Achievement Page ------
*/

.achievementContainer {
  height: 100px;
  width: 99%;
  margin-top: 10px;
  border: 2px solid white;
  display: flex;
  background-color: #222222;
}

.achievementLock {
  height: 80%;
  width: 8%;
  margin-left: 45%;
  margin-top: 10px;;
  background: transparent;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to be contained within the container */
  background-image: url("../resources/images/padlock.png");
}

.achievementImgContainer {
  height: 100%;
  width: 15%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: none;
}

.achievementImg {
  height: 50px;
  width: 100%;
  background-color: blue;
  margin-bottom: 5px;
}

.achievementRankContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bronzeRank, .silverRank, .goldRank, .platinumRank {
  border: none;
  background: transparent;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to be contained within the container */
  width: 15px;
  height: 15px;
  margin-right: 2px;
  margin-left: 2px;
  display: none;
}

.bronzeRank {
  background-image: url("../resources/images/bronze_star.png");
}

.silverRank {
  background-image: url("../resources/images/silver_star.png");
}

.goldRank {
  background-image: url("../resources/images/gold_star.png");
}

.platinumRank {
  background-image: url("../resources/images/platinum_star.png");
}

.achievementContentContainer {
  height: 100%;
  width: 85%;
  display: none;
}

.achievementDescription {
  margin-top: 10px;
  margin-bottom: 5px;
}

.achievementFlavor {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #aaaaaa;
  text-align: center;
  color: #aaaaaa;
  font-size: 11px;
  font-style: italic;
  width: 99%;
}

.achievementProgress[value] {
  width: 99%;
  height: 25%;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
}

.achievementProgress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.achievementProgress[value]::-webkit-progress-value {
  background-color: #33cc33;
}

.achievementProgress::after {
  top: -17px;
}

/*
  ------ CSS For Options Page ------
*/

#saveOptions {
  border-top: 2px solid #222222;
  margin-top: 6px;
  margin-bottom: 10px;
  width: 99%;
}

.energyButton, .optionButtonOn, .saveOptionButton {
  width: 15%;
  height: 30px;
  margin-top: 6px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  font-size: 12px;
  border: 1px solid white;
  color: white;
  background-color: #222222;
}

.energyButton:hover, .optionButtonOn:hover, .saveOptionButton:hover {
  cursor: pointer;
  background-color: #333333;
}

.optionButtonOff {
  width: 15%;
  height: 30px;
  margin-top: 6px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  font-size: 12px;
  border: 1px solid #cccccc;
  color: #cccccc;
  background-color: #333333;
}

.optionButtonOff:hover {
  cursor: pointer;
  background-color: #222222;
}

.optionContainer {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.optionsTextContainer {
  display: flex;
  align-items: center;
  width: 85%;
}

.optionsTextContainer > p {
  font-size: 12px;
  text-align: left;
}

.statContainer {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #222222;
}

.statHeading {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

.statRow {
  margin-top: 3px;
  font-size: 12px;
}
