* {
  font-size: 14px;
  font-family: "Lucida Console", "Lucida Sans Unicode", "Fira Mono", "Consolas", "Courier New", Courier, monospace, "Times New Roman";
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top; }

:root {
  --my-background-color: #333333;
  --my-highlight-color: #fff;
  --my-prompt-color: #f92672; }

body {
  background-color: var(--my-background-color);
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.row {
  width: 100%;
  border: 1px solid black;
}

#clickContainer, #itemsContainer {
  float: left;
  height: 50%;
}

#outputContainer, #taskContainer, #skillsContainer {
  float: right;
  height: 33.33333%;
  padding-left: 6px;
  padding-top: 6px;
  color: white;
}

#tooltip {
  position: absolute;
  z-index: 100;
  display: none;
  overflow: hidden;
  background: #111111;
  opacity: 0.95;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

#tooltipHeader {
  font-size: 11px;
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.tooltipPriceInfo {
  overflow: hidden;
}

.tooltipResource {
  float: left;
  font-size: 11px;
  padding: 5px;
}

.tooltipCost {
  float: right;
  font-size: 11px;
  padding: 5px;
}

.tooltipFlavor {
  color: #aaaaaa;
  font-size: 10px;
  font-style: italic;
  margin: 5px;
  padding-top: 5px;
  border-top: 1px solid white;
}
