* {
  font-size: 14px;
  font-family: "Lucida Console", "Lucida Sans Unicode", "Fira Mono", "Consolas", "Courier New", Courier, monospace, "Times New Roman";
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

:root {
  --my-background-color: #333333;
  --my-highlight-color: #fff;
  --my-prompt-color: #f92672; }

body {
  background-color: var(--my-background-color);
  overflow: hidden;
}

button:focus, input:focus {
  outline: 0;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.row {
  width: 100%;
  border: 1px solid black;
}

#clickContainer, #itemsContainer {
  float: left;
  height: 50%;
}

#outputContainer, #taskContainer, #skillsContainer {
  float: right;
  height: 33.33333%;
  padding-left: 6px;
  padding-top: 6px;
  color: white;
}

/* Tooltip CSS */

#tooltip {
  position: absolute;
  z-index: 100;
  display: none;
  overflow: hidden;
  background: #111111;
  opacity: 0.95;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

#tooltipHeader {
  font-size: 11px;
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.tooltipPriceInfo {
  overflow: hidden;
}

.tooltipResource {
  float: left;
  font-size: 11px;
  padding: 5px;
}

.tooltipCost {
  float: right;
  font-size: 11px;
  padding: 5px;
}

.tooltipFlavor {
  color: #aaaaaa;
  font-size: 10px;
  font-style: italic;
  margin: 5px;
  padding-top: 5px;
  border-top: 1px solid white;
}

/* Pop Up CSS */

#popUpBlocker {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 9; /* Under the pop up box, above everything else */
  width: 100%;
  height: 100%;
}

#popUpBox {
  display: none;
  position: fixed;
  z-index: 10; /* On top of everything except tooltips */
  border: 2px solid white;
  color: white;
  background-color: var(--my-background-color);
  left: 25%;
  top: 15%;
  width: 50%;
  height: auto;
}

#closePopUp {
  background-color: Transparent;
  color: white;
  font-size: 16px;
  border: none;
  overflow: hidden;
  outline:none;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

#closePopUp:hover {
  cursor: pointer;
  color: red;
}

.popUpHeader {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.popUpRow {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpButton {
  width: 120px;
  height: 30px;
  margin-top: 6px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  font-size: 12px;
  border: 1px solid white;
  color: white;
  background-color: #222222;
}

.popUpButton:hover {
  cursor: pointer;
  background-color: #333333;
}

.popUpSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 65%;
  height: 10px;
  background: #aaa;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.popUpSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 18px;
  height: 18px;
  background: #3399ff;
  cursor: pointer;
  border-radius: 50%;
}

/* Error Animation */
.backgroundColorError {
  animation-name: backgroundColorError;
  animation-duration: 2s;
}

@keyframes backgroundColorError {
	0% { background-color: red;}
	100% { background-color: white;}
}

.fontColorError {
  animation-name: fontColorError;
  animation-duration: 2s;
}

@keyframes fontColorError {
	0% { color: red;}
	100% { color: white;}
}
