/*
  ------ General CSS For Tasks ------
*/

.validTask {
  border: 1px solid white;
  color: white;
  background-color: #222222;
}

.invalidTask {
  border: 1px solid #cccccc;
  color: #cccccc;
  background-color: #333333;
}

.validTask:hover {
  cursor: pointer;
  background-color: #333333;
}

/*
  ------ CSS For Task Progress Container ------
*/

#taskProgressContainer {
  width: 100%;
  height: 20%;
  display: none;
  margin-left: 6px;
}

#taskProgressContainer > p {
  margin-top: 6px;
  margin-bottom: 6px;
  float: left;
}

#taskProgressContainer > button {
  background-color: Transparent;
  color: white;
  border: none;
  overflow: hidden;
  outline:none;
  margin-left: 5px;
}

#taskProgressContainer > button:hover {
  cursor: pointer;
  color: red;
}

#taskProgress[value] {
  height: 30%;
}

.taskProgress[value] {
  width: 99%;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  display: none;
  margin-top: 2px;
}

.taskProgress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.taskProgress[value]::-webkit-progress-value {
  background-color: #33cc33;
}

/*
  ------ CSS For Task Tabs ------
*/

#taskTabContainer {
  width: 100%;
  overflow: hidden;
  background-color: #222222;
}

#upgradeTab, #studyTab, #jobTab {
  color: white;
  float: left;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 12px;
  width: 33.3333333%;
}

.taskActive {
  background-color: var(--my-background-color);
}

.task {
  background-color: #444444
}

.task:hover {
  background-color: #555555;
}

.taskContent {
  padding-left: 6px;
  display: block;
  height: 100%;
}

/* Hide study and job tabs by default */
#studyTab, #jobTab {
  display: none;
}

/* Hide non-active tab content by default */
#studyContent, #jobContent {
  display: none;
}

#studyContainer, #jobContainer {
  height: calc(100% - 38px); /* Minus the height of the tabs and progress bar */
  overflow: auto;
  overflow-x: hidden;
}

/*
  ------ CSS For Task Tab Content ------
*/

#upgradeContent {
  padding-top: 6px;
  margin-right: 10px;
}

#upgradeContainer {
  height: 70%;
}

#upgradeContainer > button {
  width: 120px;
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
}

#laptopJobTasks, #keyboardJobTasks {
  width: 60%;
}

.taskHolder {
  border-top: 1px;
  border-bottom: 1px;
  border-style: none solid;
  height: 45px;
  overflow-x: auto;
  white-space: nowrap;
}

.taskHolder > button {
  width: 120px;
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  white-space: normal;
}

.studyContainer {
  padding-top: 6px;
  margin-right: 6px;
  width: 100%;
  display: none;
}

.studyContainer > p {
  padding-top: 6px;
  margin-bottom: 6px;
}

.fameRate {
  color: #ff751a;
  font-size: 12px;
  margin-right: 6px;
  display: inline;
}

.wageRate {
  color: #00bb00;
  font-size: 12px;
  margin-right: 6px;
  display: inline;
}

.procRate {
  color: #F7DC6F;
  font-size: 12px;
  margin-right: 6px;
  display: inline;
}

.xpModifier {
  color: #3399ff;
  font-size: 12px;
  margin-right: 6px;
  display: inline;
}
