#tasks {
  width: 100%;
  height: 80%;
}

#tasks > button {
  width: 120px;
  height: 30px;
  margin-top: 6px;
  margin-right: 20px;
  margin-bottom: 6px;
  font-size: 12px;
}

.validTask {
  border: 1px solid white;
  color: white;
  background-color: #222222;
}

.invalidTask {
  border: 1px solid #cccccc;
  color: #cccccc;
  background-color: #333333;
}

.validTask:hover {
  cursor: pointer;
  background-color: #333333;
}

#taskProgressContainer {
  width: 100%;
  height: 20%;
  display: none;
}

#taskProgressContainer > p {
  margin-top: 6px;
  margin-bottom: 6px;
  float: left;
}

#taskProgressContainer > button {
  background-color: Transparent;
  color: white;
  border: none;
  overflow: hidden;
  outline:none;
  margin-left: 5px;
}

#taskProgressContainer > button:hover {
  cursor: pointer;
  color: red;
}

#taskProgressContainer > progress[value] {
  width: 99%;
  height: 30%;
  -webkit-appearance: none;
  appearance: none;
}

#taskProgressContainer > progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#taskProgressContainer > progress[value]::-webkit-progress-value {
  background-color: #33cc33;
}
